.showproject{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    transition: transform 100ms ease-in;
}
.showproject > img{
    width: 419px;
    height: 280px;
}
.showproject:hover{
    color:white;
    background-color: #DCE0AC;
    transform: scale(1.05);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.projectContent{
    padding: 10px;
}
.projectContent > h4{
    padding-bottom: 5px;
}

.projectContent > p{
    font-size: 15px;
}